<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::title},~{::section})}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>    
    <section>
      <img src="https://firebasestorage.googleapis.com/v0/b/civilink-8b1a7.appspot.com/o/Profile%2Fdavid-travis-5bYxXawHOQg-unsplash.jpg?alt=media&token=3d4c1fab-6938-46f9-b269-8f3253c1de41" alt="bgImage" width="100%" height="100%">
    </section>
  </body>
</html>
